<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <!-- <select>
            {% for role in roles %}
            <option>{{role}}</option>
            {% endfor %}
        </select> -->
        
        {{form.as_p}}

        {% for role in roles %}
        <label for="role_{{role.id}}">
            <input id="role_{{role.id}}" type="radio" name="role"  value="{{role.id}}" /> I'm {{role}}
        </label>
        {% endfor %}

        <button type="submit">Register</button>
    </form>
    
</body>
</html>